h2 {
    color: white;
    text-align: center;
}

form {
    text-align: center;
}

footer {
    text-align: center;
}

html, body {
    min-height: 100%;
    padding-bottom: 56px;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-position: center center;
    background-size: cover;
}

nav
{
    overflow: auto;
}

label{
    color: white;
}

img:hover {
    
    -webkit-filter: brightness(60%);

}
h5{
    color: black;
    text-align: center;
}

.custom-div {
    width: 210.9px;
    height: 316.35px;
    cursor: pointer;
    float: left;

    margin: 1.66%;
}

.custom-div img {
    width: 100%;
    height: 100%;
}

.b1-create{

    background-color: black;
    color: #ffffff;
    border-radius: 0;
    text-align: center;
    width: 100%;
    display:block;
    position: relative;

}

.margin-0 {
    margin: 0;
}

.toWhite {
    color: white;
}

.elementCenterAndItalic {
    font-style: italic;
    text-align: center;
}

.addMarginBot {
    padding-bottom: 25px;
}

.vertical_center{
    height: 200px;
    position: relative;
}

#newsletter {
    color: white;
    text-align: center;

}
#searchResult {
    
}