h2 {
    color: white;
    text-align: center;
}
form {
    text-align: center;
}
footer {
    text-align: center;
}



html, body {
    min-height: 100%;
}
body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

nav
{
    overflow: auto;
}
#newsletter {
    color: white;
    text-align: center;

}
.vertical_center{
    height: 200px;
    position: relative;
}
.custom {
    size: A3;
}
h5{
    color: black;
    text-align: center;
}
.b1-create{
    background-color: black;
    color: #ffffff;
    border-radius: 0;
    text-align: center;
}

.bottomProperty {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.toWhite {
    color: white;
}