<!DOCTYPE html>
<html lang="en">
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>Impressum</title>
		<link rel="stylesheet" href="./style/MovieShop.css">
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="./index.html">MovieShop</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="navbar-collapse collapse" id="navbarsExample07" style="">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="./index.html">Home<span class="sr-only"></span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="login.html">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="CreateAccount.html">Register</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container min-vh-100">
<div class="toWhite elementCenterAndItalic">
		<h1>Impressum</h1>
		<p>RSD-MovieShop.com is a Website, Where you will find the newest movies and the most famous ones,
			 our website is for everyone no matter what kind of movies you like or you are looking for.
			 We are trying our best to be always up to date and make your Movie Night the best experience for your friends and family. </p>
</div>

<div class="toWhite elementCenterAndItalic" >
		<h3>RSD-MovieShop GmbH & Co. KG</h3>

		<p>Kastelligasse 1/1 <br>
		1010 Wien <br>
		Austria</p>


</div>

<div class="toWhite elementCenterAndItalic">
		<div>
				<h3>
						Contact us:
				</h3>
		</div>
		<div>
						<p>E-mail: rsd.info@rsd-movieshop.com <br>
						Tel: 0660 - 0112233 <br>
						Fax: 0660 - 0112223</p>

				<h3 >
						USt.-ID: AT1122334455
				</h3>
		
		
		</div>
</div>
	<hr>
	<div class="toWhite elementCenterAndItalic" >
		<h2>
			Customer Service:
		</h2>
		<p>
			Monday bis Saturday 10-17, we are on Tel.
			and Fax. reachable or 24/7 On E-mail.</p>

		<br>
	</div>

</div>


<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
		<div class="container">
				<span class="text-muted">
						<a href="./impressum.html">Impressum</a>
						<a href="./hilfe.html">Hilfe/FAQs</a>
				</span>
		</div>
</footer>
<script
	src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>