<!DOCTYPE html>
<html lang="en">
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>Welcome to RSD MovieShop</title>
		<link rel="stylesheet" href="./style/MovieShop.css">
		<script src="https://kit.fontawesome.com/fa6afee77d.js" crossorigin="anonymous"></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="./index.html">MovieShop</a>
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="navbarsExample07" >
			<ul id="defaultUl" class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="./movies.html">Movies<span class="sr-only"></span></a>
				</li>
			</ul>
			<ul id = "userAndLogout" class="navbar-nav ms-auto">

			</ul>
		</div>
	</div>
</nav>
<div class="container">

	<div class=" col-md-12 col-sm-12 col-xs-12" id="searchResult"></div>
</div>

<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
		<div class="container">
				<span class="text-muted">
						<a href="./impressum.html" class="text-light mx-4">Legal Notice</a>
						<a href="./hilfe.html" class="text-light mx-4">Help/FAQs</a>
				</span>
		</div>
</footer>

<script type="module" src="../js/index.js"></script>
<script
	src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>