<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Manage Products - RSD MovieShop</title>
    <link rel="stylesheet" href="./style/MovieShop.css">
    <script src="https://kit.fontawesome.com/fa6afee77d.js" crossorigin="anonymous"></script>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">

</head>
<body>
<script src="../js/permissionCheckAdmin.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="./index.html">MovieShop</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarsExample07" >
            <ul id="defaultUl" class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./movies.html">Movies<span class="sr-only"></span></a>
                </li>
            </ul>
            <ul id = "userAndLogout" class="navbar-nav ms-auto">

            </ul>
        </div>
    </div>
</nav>
<div class="container rounded bg-dark mt-5 mb-5">


    <div class="row">
        <div class="p-3 py-5 ">
            <table class="table table-striped table-dark" id="movieTable">
                <thead>
                    <tr>
                        <th scope="col">Nr</th>
                        <th scope="col">Title</th>
                        <th scope="col">ReleaseYear</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Genre1</th>
                        <th scope="col">Genre2</th>
                        <th scope="col">Genre3</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>


</div>

<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
    <div class="">
				<span class="text-muted">
						<a href="./impressum.html">Legal Notice</a>
						<a href="./hilfe.html">Help/FAQs</a>
				</span>
    </div>
</footer>

<script type="module" src="../js/manageProducts.js"></script>

<script src="https://code.jquery.com/jquery-3.6.0.slim.js"
				integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
				crossorigin="anonymous"></script>

<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
</body>
</html>