<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="./style/MovieShop.css">
    <script src="https://kit.fontawesome.com/fa6afee77d.js" crossorigin="anonymous"></script>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="./index.html">MovieShop</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarsExample07" >
            <ul id="defaultUl" class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./movies.html">Movies<span class="sr-only"></span></a>
                </li>
            </ul>
            <ul id = "userAndLogout" class="navbar-nav ms-auto">

            </ul>
        </div>
    </div>
</nav>
<div class="container rounded bg-dark mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-3">
                <img id="profilePic" class="rounded-circle mt-5"
                     width="200px" height="200px"
                     src="https://www.cag-acg.org/images/quality/usericon-200px.png"><span
                    class="font-weight-bold">Edogaru</span></div>
            <div>
                <input type="file" class="form-control" accept="image/jpeg, image/png, image/jpg" id="updateProfilePic"/>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right toWhite">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input id="firstName" type="text"
                                                                                   class="form-control"
                                                                                   placeholder="first name">
                    </div>
                    <div class="col-md-6"><label class="labels">Surname</label><input id="lastName" type="text"
                                                                                      class="form-control"
                                                                                      placeholder="surname"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Username</label><input id="username" type="text"
                                                                                        class="form-control"
                                                                                        placeholder="username" disabled>
                    </div>
                    <div class="col-md-12"><label class="labels">Email</label><input id="email" type="text"
                                                                                     class="form-control"
                                                                                     placeholder="email"></div>

                </div>
                <div class="col-md-12"><label class="labels">Address</label><input id="shippingAddress" type="text"
                                                                                 class="form-control"
                                                                                 placeholder="Address"></div>

                </div>
            <div class="mt-5 text-center">
                <button id="updateData" class="btn btn-primary profile-button" type="submit">Save Profile</button>
            </div>
        </div>

    </div>

</div>
</div>
</div>
</div>

<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
    <div class="">
				<span class="text-muted">
						<a href="./impressum.html">Impressum</a>
						<a href="./hilfe.html">Hilfe/FAQs</a>
				</span>
    </div>
</footer>
<script type="module" src="../js/userProfile.js"></script>
<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>